!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset={+IO.encoding+}", "http-equiv" => "content-type"}/
    {! Link.base = ""; /* all generated links will be relative to this */ !}
    %title JsDoc Reference - File Index
    %meta{:content => "JsDoc Toolkit", :name => "generator"}/
    =stylesheet_link_tag 'docs'
  %body
    .index
      .menu
        {+publish.classesIndex+}
    .content
      .innerContent
        %h1.classTitle File Index
        %ul.fileList
          %for{:each => "item", :in => "data"}
            %li
              %h2.filename {+new Link().toSrc(item.alias).withText(item.name)+}
              %if{:test => "item.desc"} {+resolveLinks(item.desc)+}
              %dl.detailList
                %if{:test => "item.author"}
                  %dt.heading Author:
                  %dd {+item.author+}
                %if{:test => "item.version"}
                  %dt.heading Version:
                  %dd {+item.version+}
                {! var locations = item.comment.getTag('location').map(function($){return $.toString().replace(/(^\$ ?| ?\$$)/g, '').replace(/^HeadURL: https:/g, 'http:');}) !}
                %if{:test => "locations.length"}
                  %dt.heading Location:
                  %for{:each => "location", :in => "locations"}
                    %dd
                      %a{:href => "{+location+}"} {+location+}