.documentation
  :ruby
    require 'json'

    def doc_json
      buffer = File.read('test.json')
      result = JSON.parse(buffer)
    end

  - doc_json.each do |method|
    -context = method['ctx']
    %h2= context['constructor'] + "#" + context['name']
    .summary= method['description']['full']

    - method['tags'].each do |tag|
      - if tag['type'] == 'returns'
        %p= "Returns " + tag['string']
