%section.method_list
  %h3 Methods
  %ul.methods
    %li average
    %li clear
    %li compact
    %li concat
    %li copy
    %li each
    %li eachPair
    %li eachSlice
    %li eachWithObject
    %li extremes
    %li filter
    %li first
    %li flatten
    %li forEach
    %li include
    %li indexOf
    %li inject
    %li invoke
    %li join
    %li last
    %li lastIndexOf
    %li map
    %li partition
    %li pipeline
    %li pop
    %li product
    %li push
    %li rand
    %li reduce
    %li reduceRight
    %li reject
    %li remove
    %li reverse
    %li select
    %li shift
    %li shuffle
    %li slice
    %li some
    %li sort
    %li splice
    %li sum
    %li toString
    %li unshift
    %li without
    %li wrap
    %li zip
