%nav
  - classes = []
  - constructors = []
  - doc_json.each do |item|
    - (item['tags']).each do |tag|
      - if tag['type'] == 'methodOf'
        - source_class = tag['string'].gsub('#', '')
        - classes << source_class

      - if tag['type'] == 'constructor'
        - constructors << item['tags']

      - if tag['type'] == 'namespace'
        - constructors << item['tags']

  - constructors.each do |constructor|
    - constructor.each do |tag|
      - if tag['type'] == 'name'
        - classes << tag['string']

  - classes.uniq.sort.each do |doc_class|
    %p= doc_class